
<div class="navbar">
  <div class="logo">
    <a routerLink="./">Kimya<span>Öğreniyorum</span></a>
  </div>
  <div class="profil-button ms-auto dropdown">
    <img [src]="teacherAvatar" alt="Avatar" class="user-avatar" />
    <div class="ogrenci-bilgisi">
      <a
        href="#"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <div class="user-name">{{ teacherName }}</div>
        <div class="user-role">Öğretmen</div>
      </a>

      <ul class="dropdown-menu" aria-labelledby="userDropdown">
        <li class="dropdown-user-info">
          <div class="ogrenci-bilgisi">
            <div class="user-name-menu">
              <p>🧑🏻‍🏫 Öğretmeni</p>
            </div>
            <div class="user-role-menu">deneme</div>
          </div>
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item text-danger text-end" href="#">
            Güvenli Çıkış<i class="material-icons">logout</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="navbar-menu"></div>
