.ana-icerik {
  width: 100%;
  height: auto;
  background-color: aqua;

  .main-sayfasi {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: rgb(231, 201, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
