.ana-icerik {
  width: 100%;
  height: auto;
  
  .main-sayfasi {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    padding-top: 80px; }

  .sayfalar{
    width: calc(100% - 40px); /* Sidebar genişliğini çıkar */
    margin-left: 40px; /* Sidebar genişliği kadar boşluk bırak */
  }

  .sidebar {
    position: fixed;
    top: 80px; /* Navbar yüksekliği kadar boşluk bırak */
    left: 0;
    width: 40px; /* Sidebar genişliği */
    height: calc(100% - 60px); /* Navbar yüksekliğini çıkar */
    background-color: #057bf2;
    border-right: 1px solid #dee2e6;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: auto; /* İçerik taşarsa kaydırma çubuğu ekle */
    z-index: 1000; /* Navbar'ın altında kalmasını sağla */
  }
}

@media screen and (max-width: 768px) {
  .ana-icerik {
  .sidebar {
    display: none;
  }
  .sayfalar{
    width: 100% !important; /* Sidebar genişliğini çıkar */
    margin-left: 0 !important; /* Sidebar genişliği kadar boşluk bırak */
  }
}
}