<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-3">
    <a class="navbar-brand" role="button">
        <span class="ms-2 d-none d-lg-inline">Kimya Öğreniyorum</span>
    </a>

    <div class="ms-auto dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="userDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="studentAvatar" alt="Avatar" class="user-avatar">
                <div class="user-info d-none d-md-block">
                <div class="user-name">{{ studentName }}</div>
                <div class="user-role">Öğrenci</div>
                </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li class="dropdown-user-info">
                <img [src]="studentAvatar" alt="Avatar" class="user-avatar">
                <div class="user-info d-none d-md-block">
                <div class="user-name">{{ studentName }}</div>
                <div class="user-role">Öğrenci</div>
                <div class="user-name"> Öğrt: {{studentTeacher}}</div>
                <div class="user-name">Sınıfı : {{ studentClass }}</div>
                </div>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">👤 Profil</a></li>
            <li><a class="dropdown-item text-danger" href="#">🚪 Çıkış</a></li>
        </ul>
    </div>
</nav>