<!-- Start page content -->
<!-- Kimya sistemi-->
<div class="container">
    <div class="my-1 my-md-5 overflow-hidden">
        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="0.5s">
            <h2 class="fables-main-text-color mtop-50 font-35 font-weight-bold text-center mt-4 mt-lg-5">Kimya <span
                    class="fables-second-text-color">Destek Sistemi</span> Nedir ?</h2>
            <p class="fables-forth-text-color text-center mb-4 mb-lg-5">Yapay Zekanın Gücünü Keşfederek Kimya
                Öğreniyorsunuz</p>
            <h2 class="fables-baslik-text-color mt-3 font-30 font-weight-bold text-center"></h2>
        </div>
        <div class="row overflow-hidden">
            <div class="col-12 col-md-6">
                <div class="image-container translate-effect-right">
                    <img src="ogrenci/ogrenci-1.webp" alt="Fables Template" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-0">
                <!-- <span class="fables-iconrocket-icon fables-second-text-color fa-3x"></span> -->
                <h2 class="font-30 font-weight-bold fables-second-text-color my-4 d-inline-block d-lg-block wow fadeInRight"
                    data-wow-duration="1.5s">Kimya Destek Sistemi Nedir ?</h2>
                <div class="fables-vision-detail fables-forth-text-color wow fadeInRight" data-wow-duration="1.5s">
                    Kimya Destek sistemi; öğrenci hangi sınıfta olursa olsun, kimya ile ilgili başarılı olmasını
                    engelleyen tüm temel eksikleri tek seansta analiz eden, öğrenciye özel yol haritası hazırlayan ve
                    eksiklerini bire bir online olarak kapatıp başarıya ulaştıran bir sistemdir.
                </div>
                <div class="fables-vision-detail fables-forth-text-color wow fadeInRight mt-3" data-wow-duration="1.9s">
                    <span class="font-weight-bold fables-second-text-color">Yapay Zeka Destekli Analiz:</span>
                    Öğrencinin eksiklerini daha detaylı belirlemek ve kişiselleştirilmiş öneriler sunmak için yapay zeka
                    kullanabilirsiniz.
                </div>
                <div class="fables-vision-detail fables-forth-text-color wow fadeInRight mt-3" data-wow-duration="2.1s">
                    <span class="font-weight-bold fables-second-text-color">Gelişim Takip Sistemi:</span> Öğrencinin
                    ilerlemesini grafikler ve raporlar aracılığıyla düzenli olarak takip edebileceği bir sistem
                    ekleyebilirsiniz.
                </div>
                <div class="fables-vision-detail fables-forth-text-color wow fadeInRight mt-3" data-wow-duration="2.3s">
                    <span class="font-weight-bold fables-second-text-color">Etkileşimli Konu Anlatımları:</span> Video
                    dersler, simülasyonlar ve interaktif deneylerle öğrencilerin konuları daha iyi kavramasını
                    sağlayabilirsiniz.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kimya sistemi son-->

<!-- Bilgilendirme-->
<div class="fables-testimonial fables-after-overlay fables-about-caption py-5 bg-rules mb-5"
    style="background-image: url(../../../../../header/header-1.png);">
    <div class="container">
        <div class="row">
            <div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn"
                data-wow-duration="2s">
                <h3 class=" white-color mb-3 font-25 font-weight-bold">Kimya Dünyasında Bilgiye Sınırsız Erişim için
                    Kayıt Olun!!</h3>
                <p class="font-weight-light fables-third-text-color">
                    Kimya dünyasının derinliklerine yolculuk yapmaya, en güncel bilgiye ve özel içeriklere ulaşmaya ne
                    dersiniz? Üyeliğinizi oluşturarak, uzman görüşleri, detaylı konu anlatım föyleri, eğitim videoları
                    ve interaktif içeriklerle kimya bilgilerinizi pekiştirme fırsatına sahip olun.!
                </p>
                <a href="/uye-kayit"
                    class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5">Hemen
                    Katıl</a>
            </div>
        </div>

    </div>
</div>
<!-- Bilgilendirme son-->
<!-- Hizmetler -->
<div class="container">
    <div class="my-4 my-md-5 overflow-hidden">
        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="0.5s">
            <h2 class="fables-main-text-color mtop-100 font-35 font-weight-bold text-center mt-4 mt-lg-5">Size Harika
                <span class="fables-second-text-color">Hizmetler</span> Sunuyoruz</h2>
            <p class="fables-forth-text-color text-center mb-4 mb-lg-5">Yapay Zeka İle Gelişimini Destekle</p>
            <h2 class="fables-baslik-text-color mt-3 font-30 font-weight-bold text-center"></h2>
        </div>
        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="1s">
            <h2 class="fables-baslik-text-color mt-3 font-30 font-weight-bold text-center">
            </h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconlamp-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Yeni Nesil
                        Eğitmenler </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        "Yeni nesil eğitmenler, kimya öğreniminde interaktif ve uygulamalı yöntemlerle öğrencilerin
                        ilgisini artırmayı hedefliyor."
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconbussiness4 fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Başarı
                        Analizi</h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        "Yeni nesil eğitmenler, yapay zeka destekli başarı analizi ile kimya eğitiminde öğrencilerin
                        eksiklerini belirleyerek daha verimli bir öğrenme süreci sunuyor."
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconheadset-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Anlık
                        Kaliteli İletişim </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        "Yeni nesil eğitmenler, yapay zeka destekli başarı analizi ve 7/24 iletişim ile kimya eğitiminde
                        kesintisiz rehberlik sunuyor."
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconmobileApp-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Her An
                        Yanında </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        "Yeni nesil eğitmenler, mobil uygulama desteğiyle her an yanınızda olarak kimya öğrenimini kolay
                        ve erişilebilir hale getiriyor."
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconbussiness2 fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Konu Arşivi
                    </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        "Kolay ulaşabileceğiniz konu arşivi sayesinde eksiklerinizi hızla tamamlayarak kimya öğreniminde
                        başarıya ulaşabilirsiniz."
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconfile fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Online
                        Eğitim ile Başarıya Ulaşın!</h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        "Online sınavlar, interaktif dersler ve test çözümleri ile kimya öğreniminde eksiklerinizi
                        tamamlayarak başarıya ulaşın."
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hizmetler son-->

<!--SAYAÇ-->
<div class="text-center mb-5 wow fadeInDown" data-wow-delay="0.5s">
    <h2 class="fables-main-text-color mtop-100 font-35 font-weight-bold text-center mt-4 mt-lg-5">Yıllık <span
            class="fables-second-text-color">Veri</span> Sayacı</h2>
    <p class="fables-forth-text-color text-center mb-4 mb-lg-5">Öğrencilerin İstekleri ve Gelişimi Üzerine Yazılan
        Görüşler Dikkate Alınmıştır</p>
    <h2 class="fables-baslik-text-color mt-3 font-30 font-weight-bold text-center"></h2>
</div>
<div class="fables-counter-section fables-after-overlay my-3 my-md-5 pt-4 pb-0 py-md-5 bg-rules"
    style="background-image: url(../../../../../header/header-1.png);">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                        data-count="1357">0</h2>
                    <h3 class="font-14 semi-font text-white">2024-2025<br />KAYITLI ÖĞ.</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                        data-count="91">0</h2>
                    <h3 class="font-14 semi-font text-white">2024-2025<br />BAŞARI %</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                        data-count="8855">0</h2>
                    <h3 class="font-14 semi-font text-white">ÇÖZÜLEN<br />SORU</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                        data-count="56">0</h2>
                    <h3 class="font-14 semi-font text-white">YAPILAN<br />DENEME</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SAYAÇ SON-->

<!-- Öğrenci Görüşleri-->

<div class="container py-3">
    <div class="fables-Testimonials my-3">
        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="0.5s">
            <h2 class="fables-main-text-color mtop-100 font-35 font-weight-bold text-center mt-4 mt-lg-5">Öğrenci <span
                    class="fables-second-text-color">Görüşleri</span> </h2>
            <p class="fables-forth-text-color text-center mb-4 mb-lg-5"></p>
            <h2 class="fables-baslik-text-color mt-3 font-30 font-weight-bold text-center"></h2>
        </div>
        <div class="row">
            <div class="col-6 wow fadeInLeft" data-wow-delay=".6s">
                <div
                    class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                    <div class="row">
                        <div class="col-12 col-sm-3 text-center image-container shine-effect">
                            <img src="/ogrenci/ogrenci-4.jpg" alt="Fables Template"
                                class="fables-testimonial-block-img rounded-circle">
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="fables-testimonial-block-info">
                                <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Elif Akman</h3>
                                <h3 class="fables-fifth-text-color font-italic font-14 mt-2">Mezun
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="fables-forth-text-color font-italic font-14 semi-font mt-3 d-none d-md-block">
                        Yapay zeka destekli eğitim platform ile çalışarak, bilgi düzeyimi analiz ederek bana en uygun
                        öğrenme tekniği ile kimya konularını ve
                        alıştırmaları sunar; bu sayede kendi hızında, eksiklerini tamamlayarak kimyayı öğrenme fırsatı
                        buldum.
                    </div>
                </div>
            </div>
            <div class="col-6 wow fadeInRight" data-wow-delay=".6s">
                <div
                    class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                    <div class="row">
                        <div class="col-12 col-sm-3 text-center image-container shine-effect">
                            <img src="/ogrenci/ogrenci-1.jpeg" alt="Fables Template"
                                class="fables-testimonial-block-img rounded-circle">
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="fables-testimonial-block-info">
                                <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Ahmet Kurt</h3>
                                <h3 class="fables-fifth-text-color font-italic font-14 mt-2">12.Sınıf
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="fables-forth-text-color font-italic font-14 semi-font mt-3 d-none d-md-block">
                        Geleneksel öğretim yöntemlerine kıyasla, yapay zeka teknolojisi karmaşık kimya konularını daha
                        basit anlatımlarla sunarak öğrenmeni kolaylaştırdı. Özellikle soyut konuları somutlaştırmasına
                        ve daha iyi anlamasına
                        yardımcı oldu.
                    </div>
                </div>
            </div>
            <div class="col-6 wow fadeInLeft" data-wow-delay=".9s">
                <div
                    class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                    <div class="row">
                        <div class="col-12 col-sm-3 text-center image-container shine-effect">
                            <img src="/ogrenci/ogrenci-2.jpg" alt="Fables Template"
                                class="fables-testimonial-block-img rounded-circle">
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="fables-testimonial-block-info">
                                <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Alya Çekiçoğlu</h3>
                                <h3 class="fables-fifth-text-color font-italic font-14 mt-2">12.Sınıf
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="fables-forth-text-color font-italic font-14 semi-font mt-3 d-none d-md-block">
                        Yapay zeka, çalışma sürecimde çözdüğüm soruları analiz ederek sık yaptığım hataları tespit
                        ederek, ardından bu hatalara özel
                        açıklamalar ve ek alıştırmalar sunarak kalıcı öğrenmeme destek oldu ve motivasyonumu artırdı.
                    </div>
                </div>
            </div>
            <div class="col-6 wow fadeInRight" data-wow-delay=".9s">
                <div
                    class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                    <div class="row">
                        <div class="col-12 col-sm-3 text-center image-container shine-effect">
                            <img src="/ogrenci/ogrenci-3.jpg" alt="Fables Template"
                                class="fables-testimonial-block-img rounded-circle">
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="fables-testimonial-block-info">
                                <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Burak Ulusoy</h3>
                                <h3 class="fables-fifth-text-color font-italic font-14 mt-2">12.Sınıf
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="fables-forth-text-color font-italic font-14 semi-font mt-3 d-none d-md-block">
                        Gerçek zamanlı geri bildirim veren yapay zeka sistemi sayesinde yaptığım hataları anında fark
                        ederek,
                        doğru çözümlere ulaşmamı ve bu da TYT–AYT kimya sorularında başarımı artırmama neden oldu.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Öğrenci Görüşleri Son-->

<!-- Para -->
<div class="container-fluid">
    <h2 class="fables-main-text-color mtop-100 font-35 font-weight-bold text-center mt-4 mt-lg-5">Yıllık <span
            class="fables-second-text-color">Ücret</span> Tablosu </h2>
    <p class="fables-forth-text-color text-center mb-4 mb-lg-5">Ders Saatlerine Göre Ücretlenmiştir</p>
    <div class="row overflow-hidden d-flex justify-content-center p-3 p-md-5" style="background-color: #5a5c5f;">
        <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 wow bounceInDown" data-wow-delay=".4s">
            <div class="table-border-light fables-second-hover-border">
                <div class="bg-tu py-4 position-relative">
                    <h2 class="white-color bold-font fables-third-after font-60 pt-4 pb-md-5 rmb-1">AYT</h2>
                    <div
                        class="center-number-table border-2 bg-la white-color rounded-circle border-white position-absolute p-4">
                        <h2 class="bold-font font-35 mt-3 d-inline-block"> 9750 <span
                                class="table-badge white-color position-absolute font-13">TL</span></h2>
                        <p class="white-color font-13">Yıllık</p>
                    </div>
                </div>
                <div class="bg-white py-4 table-block">
                    <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                        * Konu Anlatım videoları<br>
                        * Çalışma föyleri<br>
                        * Çözümlü Soru Bankası<br>
                        * Deneme Sınavları<br>
                    </p>
                    <a href="#"
                        class="btn bg-la white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Hemen
                        Katılın</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow bounceInDown" data-wow-delay=".8s">
            <div class="table-border-light fables-second-hover-border">
                <div class="bg-la py-4 position-relative">
                    <h2 class="white-color bold-font fables-third-after font-60 pt-4 pb-md-5 rmb-1">TYT</h2>
                    <div
                        class="center-number-table border-2 bg-tu white-color rounded-circle border-white position-absolute p-4">
                        <h2 class="bold-font font-35 mt-3 d-inline-block"> 7250 <span
                                class="table-badge white-color position-absolute font-13">TL</span></h2>
                        <p class="white-color font-13">Yıllık</p>
                    </div>
                </div>
                <div class="bg-white py-4 table-block">
                    <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                        * Konu Anlatım videoları<br>
                        * Çalışma föyleri<br>
                        * Çözümlü Soru Bankası<br>
                        * Deneme Sınavları<br>
                    </p>
                    <a href="#"
                        class="btn bg-tu white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Hemen
                        Katılın</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 mb-4 col-lg-3 text-center wow bounceInDown" data-wow-delay="1.2s">
            <div class="table-border-light fables-second-hover-border">
                <div class="bg-tu py-4 position-relative">
                    <h2 class="white-color bold-font fables-third-after  font-50 pt-4 pb-md-5 rmb-1">Ara Sınıf</h2>
                    <div
                        class="center-number-table border-2 bg-la white-color rounded-circle border-white position-absolute p-4">
                        <h2 class="bold-font font-35 mt-3 d-inline-block"> 7250 <span
                                class="table-badge white-color position-absolute font-13">TL</span></h2>
                        <p class="white-color font-13">Yıllık</p>
                    </div>
                </div>
                <div class="bg-white py-4 table-block">
                    <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                        * Konu Anlatım videoları<br>
                        * Çalışma föyleri<br>
                        * Çözümlü Soru Bankası<br>
                        * Deneme Sınavları<br>
                    </p>
                    <a href="#"
                        class="btn bg-la white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Hemen
                        Katılın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Para Son-->






<!-- Öğretmenler

<div class="container"> 
    <div class="fables-team overflow-hidden">
            <h2 class="font-35 font-weight-bold fables-main-text-color mb-4 text-center">Team</h2> 
            <div class="row my-4 my-lg-5">
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                          <div class="image-container shine-effect">
                              <a href="#"><img class="w-100" src="/ogrenci/ipek-kul.jpg" alt="Card image cap"></a>
                          </div>
                      
                      <div class="card-body">
                        <h5><a href="#" class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">İPEK KULA</a></h5>
                        <p class="font-13 fables-forth-text-color my-1 font-italic">Türk Dili ve Edebiyatı Öğr.</p> 
                        <ul class="nav fables-team-social-links mt-3"> 
                            <li><a href="#" target="_blank"><span class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>   
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                          <div class="image-container shine-effect">
                              <a href="#"><img class="w-100" src="/ogrenci/ipek-kul.jpg" alt="Card image cap"></a>
                          </div>
                      
                      <div class="card-body">
                        <h5><a href="#" class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN MARTIN</a></h5>
                        <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p> 
                        <ul class="nav fables-team-social-links mt-3"> 
                            <li><a href="#" target="_blank"><span class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>   
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                          <div class="image-container shine-effect">
                              <a href="#"><img class="w-100" src="/ogrenci/ipek-kul.jpg" alt="Card image cap"></a>
                          </div>
                      
                      <div class="card-body">
                        <h5><a href="#" class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN MARTIN</a></h5>
                        <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p> 
                        <ul class="nav fables-team-social-links mt-3"> 
                            <li><a href="#" target="_blank"><span class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>   
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                          <div class="image-container shine-effect">
                              <a href="#"><img class="w-100" src="/ogrenci/ipek-kul.jpg" alt="Card image cap"></a>
                          </div>
                      
                      <div class="card-body">
                        <h5><a href="#" class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN MARTIN</a></h5>
                        <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p> 
                        <ul class="nav fables-team-social-links mt-3"> 
                            <li><a href="#" target="_blank"><span class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>   
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            
                        </ul>
                      </div>
                    </div>
                </div>
            </div>  

    </div>   

</div>
 Öğretmenler Son-->
<!-- kayan kartlar
<div class="fables-after-overlay my-3 my-md-5 pt-4 pb-0 py-md-5 bg-rules">
    <div class="position-relative z-index col-12 col-md-8 offset-md-2 text-center wow zoomIn" data-wow-duration="2s">
        <h3 class=" white-color mb-3 font-25 font-weight-bold">Sizin İçin Önerilenler</h3>
    </div>
    <div class="owl-carousel owl-theme px-3 mt-0 mb-4 my-lg-5" id="fables-partner-carousel">
        <a href=""><img src="/konuCardlari/9.sinif-kimya-bilimi.png" alt=""></a>
        <a href=""><img src="/konuCardlari/9.sinif-atom-yapisi.png" alt=""></a>
        <a href=""><img src="/konuCardlari/9.sinif-periyodik-sistem.png" alt=""></a>
        <a href=""><img src="/konuCardlari/9.sinif-kimyasal-bag.png" alt=""></a>
        <a href=""><img src="/konuCardlari/9.sinif-maddenin-hali.png" alt=""></a>
    </div>
</div>
 kayan kartlar Son-->
<!-- /End page content -->