<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="yazi wow fadeInLeft" data-wow-delay="1.2s">
                    <h1 class="wow fadeInLeft" data-wow-delay="1.6s"><span>KİMYA</span> DESTEK SİSTEMİ İLE</h1>
                    <h1 class="wow fadeInRight" data-wow-delay="2.0s"><span>KİMYA</span> NETLERİNİ ARTIRMA ZAMANI</h1>
                </div>
            </div>
        </div>
    </div>
</div>