<div class="toggle-button" [class.closed]="isClosed" (click)="toggleSidebar()">
    <i class="material-icons">{{ isClosed ? 'arrow_forward' : 'arrow_back' }}</i>
</div>
<div class="sidebar" [class.closed]="isClosed">
    <ul class="menu-list" >
        <div class="logo" *ngIf="!isClosed">Kimya<span>Öğreniyorum</span></div>
        <div class="menu-sidebar">
            <li class="li-menu" *ngFor="let item of menuItems">
                <a href="{{ item.link }}" style="position: relative;">
                    <div class="menu-flex">
                        <i class="bi {{ item.icon }}"></i>
                        <span class="badge bg-warning ms-auto" *ngIf="item.label === 'Soru Çözümü'"
                            [title]="'Okunmamış mesaj: ' + (item.badgeCount !== undefined ? item.badgeCount : 0)">
                            {{ item.badgeCount !== undefined ? item.badgeCount : 0 }}
                        </span>
                        <p *ngIf="!isClosed">
                          <span class="sidebar-item-text">{{ item.label }}</span>
                        </p>
                    </div>
                </a>
            </li>
        </div>
    </ul>
</div>

<!-- Mobil Footer Menu -->
<div class="mobile-footer-menu d-block d-lg-none">
  <div class="footer-menu-container">
    <div class="footer-menu-items">
      
      <!-- Anasayfa -->
      <a routerLink="/ogrenci-sayfasi/ogrenci-ana-sayfasi" class="footer-menu-item" [routerLinkActive]="'active'">
        <div class="footer-menu-icon">
          <i class="bi bi-house"></i>
        </div>
        <span class="footer-menu-text">Anasayfa</span>
      </a>

      <!-- Sınavlar -->
      <a routerLink="/ogrenci-sayfasi/sinav-sonuclari-sayfasi" class="footer-menu-item" [routerLinkActive]="'active'">
        <div class="footer-menu-icon">
          <i class="bi bi-clipboard-check"></i>
        </div>
        <span class="footer-menu-text">Sınavlar</span>
      </a>

      <!-- Sidebar Butonu (Ortada) -->
      <div class="footer-menu-item center-item" (click)="toggleSidebar()">
        <div class="footer-menu-icon-center">
          <i class="bi bi-grid"></i>
        </div>
        <span class="footer-menu-text">Menü</span>
      </div>

      <!-- Konular -->
      <a routerLink="/ogrenci-sayfasi/ogrenci-islene-konularin-pdf-sayfasi" class="footer-menu-item" [routerLinkActive]="'active'">
        <div class="footer-menu-icon">
          <i class="bi bi-book"></i>
        </div>
        <span class="footer-menu-text">Konular</span>
      </a>

      <!-- Profil -->
      <a routerLink="/ogrenci-sayfasi/ogrenci-profil-sayfasi" class="footer-menu-item" [routerLinkActive]="'active'">
        <div class="footer-menu-icon">
          <i class="bi bi-person"></i>
        </div>
        <span class="footer-menu-text">Profil</span>
      </a>

    </div>
  </div>
</div>