<div class="sidebar" [class.closed]="isClosed">
    <div class="toggle-button" (click)="toggleSidebar()">
        <i class="material-icons">{{ isClosed ? 'arrow_forward' : 'arrow_back' }}</i>
    </div>
    <ul class="menu-list" >
        <li class="li-menu" *ngFor="let item of menuItems">
            <a href="{{ item.link }}">
                <div class="menu-flex">
                    <i class="material-icons">{{ item.icon }}</i>
                    <p *ngIf="!isClosed">{{ item.label }}</p>
                </div>
            </a>
        </li>
    </ul>
</div>